<section id="site-location-map" class="site-location-map padding-y-5 tablet-lg:padding-y-8 bg-gradient-primary z-top position-relative text-white">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12 tablet-lg:grid-col-4">
                <h2 class="margin-top-0">OAM Sites</h2>
                
                <p>OAM Sites are advanced manufacturing labs operating under the control of OAM to:</p>
                <ol>
                    <li>Develop new products and advanced manufacturing processes.</li>
                    <li>Use advanced manufacturing to develop both medical and non-medical devices.</li>
                </ol>

                <h3>VA Puget Sound Health Care System</h3>
                <p>OAM's FDA-registered OAM site as a medical device developer and manufacturer. OAM has 5 other sites in Charleston, Richmond, Pittsburgh, Cleveland, and Milwaukee.</p>
            </div>
            <div class="tablet:grid-col-12 tablet-lg:grid-col-8">
                <div id="mapsvg" class="display-none tablet:display-block"></div>
                <div class="display-block tablet:display-none">
                    <div class="usa-card">
                        <div class="usa-card__container shadow-3">
                            <div class="usa-card__body">
                                <div id="mapsvg-menu-markers"></div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 right-0 z-bottom unselectable" data-parallax='{"x": -200, "smoothness": 10}'>
            <img src="../../assets/img/decore/triangle-1.svg" width="863" height="113" class="display-block img-fluid" alt="" />
        </div>
        <div class="position-absolute top-0 left-0 z-bottom unselectable" data-parallax='{"x": 200, "smoothness": 10}'>
            <img src="../../assets/img/decore/triangle-2.svg" width="1056" height="68" class="display-block img-fluid" alt="" />
        </div>        
    </div>
</section>


<link href="../../assets/css/map-svg/mapsvg.css" rel="stylesheet">
<link href="../../assets/css/map-svg/nanoscroller.css" rel="stylesheet">
<script src="../../assets/js/vendors/map-svg/jquery.mousewheel.min.js"></script>
<script src="../../assets/js/vendors/map-svg/jquery.nanoscroller.min.js"></script>
<script src="../../assets/js/vendors/map-svg/mapsvg.min.js"></script>
<script src="../../assets/js/vendors/map-svg/mapsvg.functions-teams.js"></script>