<section id="team" class="team padding-top-5 tablet-lg:padding-top-8 padding-bottom-3 tablet-lg:padding-bottom-5 bg-primary-lighter">
    <div class="grid-container position-relative">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12 text-center">
                <h2 class="text-primary margin-0">OAM Site Leads</h2>
            </div>
        </div>
        <div class="grid-row grid-gap margin-top-4">
            <div class="usa-card grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 margin-bottom-5">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="../../assets/img/team/arri-willis.jpg" class="img-fluid" alt="Arri Willis  - Seattle Site Lead" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary margin-0">Arri Willis </h3>
                        <strong>Seattle Site Lead</strong><br />
                        VA Puget Sound Health Care System<br />
                    </div>
                </div>
            </div> 
            <div class="usa-card grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 margin-bottom-5">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="../../assets/img/team/bill-corcuera.jpg" class="img-fluid" alt="Bill Corcuera - Cleveland Site Lead" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary margin-0">Bill Corcuera</h3>
                        <strong>Cleveland Site Lead</strong><br />
                        VA Northeast Ohio Health Care System
                    </div>
                </div>
            </div>
            <div class="usa-card grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 margin-bottom-5">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="../../assets/img/team/brian-burkhardt.jpg" class="img-fluid" alt="Brian Burkhardt - Richmond Site Lead" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary margin-0">Brian Burkhardt</h3>
                        <strong>Richmond Site Lead</strong><br />
                        Central Virginia VA Health Care System
                    </div>
                </div>
            </div>
            <div class="usa-card grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 margin-bottom-5">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="../../assets/img/team/garrett-grindle.jpg" class="img-fluid" alt="Dr. Garrett Grindle - Pittsburgh Site Lead" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary margin-0">Dr. Garrett Grindle</h3>
                        <strong>Pittsburgh Site Lead</strong><br />
                        VA Pittsburgh Health Care System
                    </div>
                </div>
            </div>  
            <div class="usa-card grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 margin-bottom-5">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="../../assets/img/team/katie-schultz.jpg" class="img-fluid" alt="Dr. Katie Schultz - VISN 12 Site Lead" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary margin-0">Dr. Katie Schultz</h3>
                        <strong>VISN 12 Site Lead</strong><br />
                        VISN 12 - VA Great Lakes Health Care System
                    </div>
                </div>
            </div> 
            <div class="usa-card grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 margin-bottom-5">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="../../assets/img/team/nikki-beitenman.jpg" class="img-fluid" alt="Nikki Beitenman - Charleston Site Lead" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary margin-0">Nikki Beitenman</h3>
                        <strong>Charleston Site Lead</strong><br />
                        Ralph H. Johnson VA Health Care System
                    </div>
                </div>
            </div>                                                         
        </div>
        <div class="position-absolute bottom-neg-3 left-neg-1 z-bottom unselectable" data-parallax='{"y": 40, "smoothness": 10}'>
            <img src="../../assets/img/decore/design-element-1.png" width="729" height="404" class="display-block img-fluid" alt="" />
        </div>          
    </div>
</section>