<section id="page-title" class="page-title position-relative">
    <div class="grid-container position-relative">
        <nav class="usa-breadcrumb position-absolute bg-transparent" aria-label="Breadcrumbs,,">
            <ol class="usa-breadcrumb__list">
                <li class="usa-breadcrumb__list-item">
                    <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                </li>
                <li class="usa-breadcrumb__list-item">
                    <a href="/oam/products/" class="usa-breadcrumb__link"><span>Products</span></a>
                </li>                 
                <li class="usa-breadcrumb__list-item">
                    <a href="/oam/products/product-idea-submission/" class="usa-breadcrumb__link"><span>Product Idea Submission</span></a>
                </li>                
                <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                    <span>Thank You</span>
                </li>
            </ol>
        </nav>      
        <div class="grid-row grid-gap padding-bottom-5 mobile:padding-top-8 tablet:padding-top-8 desktop-lg:padding-top-9">
            <div class="page-title__side-title font-body-xs margin-bottom-2">
                OAM Products
            </div>              
            <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <h1 class="font-body-4xl margin-bottom-0 tablet:margin-bottom-2 margin-top-0 gradient-text">Thank You</h1>
            </div>
        </div>
    </div>      
</section>  