<section id="about-oam" class="about-oam padding-y-5 tablet-lg:padding-y-8">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-start">
            <div class="grid-col-12 tablet-lg:grid-col-6 margin-bottom-4 tablet-lg:margin-bottom-0">
                <h2 class="text-primary margin-top-0">The Formation of OAM</h2>
                <p>Amidst the challenges posed by COVID-19, a group of VHA sites collaborated under the banner of VHA's ADAPT (Agile Design and Production Transformation). This collective initiative aimed to address the urgent needs of Veterans by leveraging innovative approaches to health care delivery.</p>

                <p>VHA collaborated with the U.S. Food and Drug Administration (FDA), the National Institutes of Health (NIH), and America Makes to clinically design, test, and evaluate the safety and effectiveness of 3D-printed solutions. This collaboration yielded millions of essential medical components, including 12M nasal swabs and 116K ventilator components.</p>
                    
                <p>The success of ADAPT laid the groundwork for the establishment of the Office of Advanced Manufacturing (OAM) in 2023, reflecting the organization's commitment to harnessing innovation and collaboration to improve health care outcomes for Veterans.</p>
                    
                <p>Today, OAM's primary objective is to ensure patient safety, Veterans’ equal access to health care solutions, and high-quality training for VA staff and Veterans in advanced manufacturing technologies.</p>
                    
                <p>OAM has helped build six advanced manufacturing sites across the Nation, including one that is registered with the FDA as a medical device developer and manufacturer. VA providers can request products from any site through a consultation process, which supports OAM's goal of ensuring our products are accessible to VA health care providers and Veterans nationwide.</p>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1 text-center">
                <img src="../../assets/img/our-story/formation-of-oam.jpg" alt="A large 3d printer in use. Creating a model of the human heart." class="img-fluid radius-lg" />
            </div>
        </div>
    </div>
</section>