<section id="vision" class="vision padding-top-5 tablet-lg:padding-top-8 padding-bottom-3 tablet-lg:padding-bottom-5 z-bottom">
    <div class="grid-container position-relative">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-6 tablet-lg:grid-offset-6">
                <p class="desktop:font-body-lg">The Office of Advanced Manufacturing (OAM) is a national program office within VHA that plays a crucial role in implementing cutting-edge manufacturing technologies, such as 3D printing, in health care. These technologies allow for faster innovation and improved access to personalized health care solutions for Veterans under VA's care.</p>
            </div>
        </div>
        <div class="design-element position-absolute top-neg-3 left-neg-1 z-bottom unselectable" data-parallax='{"y": -50, "smoothness": 10}'>
            <img src="../../assets/img/decore/design-element-3.png" width="729" height="404" class="display-block img-fluid" alt="" />
        </div>
    </div>
</section>