<section id="timeline" class="timeline padding-y-5 tablet-lg:padding-y-8 bg-primary-lighter">
    <div class="grid-container position-relative">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <h2 class="text-primary">The Establishment of OAM</h2>
            </div>
        </div>
        <div class="grid-row">
            <ol>
                <li>
                  <div class="timeline__card">
                    <div class="timeline__card-content">
                      <span class="usa-tag bg-warning text-black time">2010</span>
                      <h3 class="h4 margin-top-0">Innovative 3D-printing Breakthrough</h3>
                      Introduction of the first VHA patient-specific solution utilizing 3D-printing technology in a clinical setting, successfully executed by the Central Virginia VA Health Care System.
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline__card">
                    <div class="timeline__card-content">
                      <span class="usa-tag bg-warning text-black time">2015</span>
                      <h3 class="h4 margin-top-0">The Innovation Creation Series for Prosthetics and Assistive Technologies</h3>
                      VHA hosted a two-day make-a-thon designed to accelerate the development of personalized technologies that improve care and quality of life for Veterans with disabilities. 
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline__card">
                    <div class="timeline__card-content">
                      <span class="usa-tag bg-warning text-black time">2017</span>
                      <h3 class="h4 margin-top-0">First Health Care System with Integrated 3D-printing Network</h3>
                      VHA partnered with Stratasys to establish the first integrated 3D-printing network within a health care system, designed to rapidly advance quality care, foster collaborative best practices, and enhance doctor preparedness across VHA.
                    </div>
                    </div>
                  </li>
                <li>
                  <div class="timeline__card">
                    <div class="timeline__card-content">
                        <span class="usa-tag bg-warning text-black time">2018</span>
                        <h3 class="h4 margin-top-0">Advancing Health Care with 3D Imaging</h3>
                        Collaboration between VA Puget Sound Health Care System and GE Healthcare led to the accelerated integration of 3D imaging in health care services. 
                    </div>
                    </div>
                </li> 
                <li>
                  <div class="timeline__card">
                    <div class="timeline__card-content">
                        <span class="usa-tag bg-warning text-black time">Mar 2020</span>
                        <h3 class="h4 margin-top-0">Collaborative Efforts in Response to COVID-19</h3>
                        VHA collaborated with the U.S. Food and Drug Administration (FDA), National Institutes of Health (NIH), and America Makes to assess 3D-printed solutions, resulting in the production of millions of essential parts to meet critical COVID-19 demands.
                    </div>
                    </div>
                </li> 
                <li>
                  <div class="timeline__card">
                    <div class="timeline__card-content">
                        <span class="usa-tag bg-warning text-black time">Apr 2020</span>
                        <h3 class="h4 margin-top-0">Joint Incentive Fund Project Kick-off</h3>
                        The VHA-Department of Defense (DoD) 3D Printing Consortium for Medical Applications was initiated through collaboration between VHA and DoD. 
                    </div>
                    </div>
                </li> 
                <li>
                  <div class="timeline__card">
                    <div class="timeline__card-content">
                        <span class="usa-tag bg-warning text-black time">Oct 2020</span>
                        <h3 class="h4 margin-top-0">VA Medical Centers Gain FDA Recognition</h3>
                        VA Puget Sound was registered with the FDA as a medical device manufacturer under the VHA Office of Discovery Education and Affiliate Networks (DEAN). Central Virginia VA Health was temporarily registered to aid in the COVID-19 pandemic response.
                    </div>
                    </div>
                </li> 
                <li>
                  <div class="timeline__card">
                    <div class="timeline__card-content">
                        <span class="usa-tag bg-warning text-black time">Nov 2020</span>
                        <h3 class="h4 margin-top-0">Establishment of VHA Office of Advanced Manufacturing</h3>
                        The VHA Office of Advanced Manufacturing (OAM) was formally established within the Office of Healthcare Innovation and Learning (OHIL), serving as an official entity dedicated to advancing manufacturing capabilities in health care.
                    </div>
                    </div>
                </li>                                                                                 
  
                <li></li>
              </ol>                      
        </div>
        <div class="grid-row arrows flex-justify-center">
            <button class="arrow arrow__prev disabled usa-button" disabled aria-label="Go Back">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds/img/sprite.svg#arrow_back"></use>
                    </svg>
            </button>
            <button class="arrow arrow__next usa-button" aria-label="Go Forward">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds/img/sprite.svg#arrow_forward"></use>
                    </svg>
            </button>         
        </div>
        <div class="design-element position-absolute bottom-neg-3 left-neg-1 z-bottom unselectable" data-parallax='{"y": -50, "smoothness": 10}'>
            <img src="../../assets/img/decore/design-element-1.png" width="729" height="404" class="display-block img-fluid" alt="" />
        </div>
    </div>
</section>