<section id="vision" class="vision padding-top-5 tablet-lg:padding-top-8 padding-bottom-3 tablet-lg:padding-bottom-5 z-bottom">
    <div class="grid-container position-relative">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-6">
                <h2 class="text-primary margin-top-0">Vision</h2>
                <p class="desktop:font-body-lg">The vision of OAM is to provide personalized, safe, and equitable care for eligible Veterans by building and expanding advanced manufacturing capabilities across the VA enterprise.</p>
            </div>
        </div>
        <div class="design-element position-absolute top-neg-10 right-neg-1 z-bottom unselectable" data-parallax='{"y": -50, "smoothness": 10}'>
            <img src="../../assets/img/decore/design-element-2.png" width="729" height="404" class="display-block img-fluid" alt="" />
        </div>
    </div>
</section>