<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="At OAM, we empower frontline clinicians to tackle clinical challenges through innovative product-based solutions while bolstering supply chain resiliency with in-house manufacturing capabilities.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/">
  <meta property="og:description" content="At OAM, we empower frontline clinicians to tackle clinical challenges through innovative product-based solutions while bolstering supply chain resiliency with in-house manufacturing capabilities.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets/uswds/js/uswds-init.min.js"></script>

  <style>
  .usa-alert__body{
    padding-right: .5rem !important;
    padding-left: 2.5rem !important;
  }
  .usa-alert--warning .usa-alert__body::before{
    left: 0.5rem !important;
  }
  </style>

</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header.html" %}
      
        <main>
          {% include "home/hero.html" %}
          {% include "home/what-is-oam.html" %}
          {% include "home/innovation.html" %}
          {% include "home/vision.html" %}
          {% include "home/site-locations.html" %}
          {% include "home/video.html" %}
          {% include "home/news-and-events.html" %}
          {% include "home/products.html" %}
        </main>

        {% include "footer.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="assets/uswds/js/uswds.min.js"></script>
    <script src="assets/js/vendors/lazy/jquery.lazy.min.js"></script>
    <script src="assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="assets/js/functions.js"></script>

</body>

</html>