<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Assistive Technology Design Library Launch | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Our Team | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>Assistive Technology Design Library Launch</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">Assistive Technology Design Library Launch</h1>
                                <div class="text-bold text-primary">FY24 Q2</div>
                                <div class="font-body-lg margin-top-2">Office of Advanced Manufacturing (OAM) Assistive Technology Library: Customized Solutions for Veteran Success</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>The Veterans Health Administration (VHA), Richmond Office of Advanced Manufacturing (ROAM), alongside the National Institute of Health (NIH), is at the forefront of a health care revolution through the creation of OAM's Assistive Technology (AT) Design Library.</p>

                                <p>The AT Design Library is a database hosted on the NIH webpage, featuring a collection of 3D-printing templates for various AT solutions. AT describes any technology or device that enhances the life of someone with disabilities, and OAM has developed dozens of AT solutions for disabled Veterans. The design library will offer greater access to OAM’s 3D-printing designs so VA medical centers with 3D-printing capabilities can recreate them.</p>
                                
                                <p>"The [AT design] library is a repository for assistive technology files crafted at our [Richmond] center, driven by Veteran needs. As interest expanded, our collaboration with NIH created a centralized platform, allowing us to manage and house these valuable resources for other VA sites also to access," stated Melissa Oliver, Occupational Therapist and AT Program Director for the Richmond VA Medical Center.</p>
                                
                                <p>Assistive technology offers life-changing benefits to Veterans. Examples include 3D-printed toothbrush holders for independent personal hygiene and stylus palm grips for easier writing. These tailored solutions significantly improve the quality of life for Veterans, enabling them to perform tasks that were once challenging or impossible.</p>  
                                
                                <p>The initial process to request 3D-printed material was as a link through VA's Innovation Spark, Seed, Spread project. The increase in demand for 3D-printed products promoted the need to improve the request process, giving rise to the AT Design Library.</p>
                                
                                <p>"It serves as a portfolio and starting point for other VA sites to modify designs, meeting the needs of more Veterans. It's not just about sharing designs; it's about allowing us to share solutions," stated Brian Burkhardt, Richmond OAM Site Lead.</p>
                                
                                <p>The OAM AT design library is an invaluable resource for assistive technology, collaboration, and innovation to improve the lives of Veterans. For those eager to explore the AT Design Library and discover its potential, please click here: <a href="https://3d.nih.gov/collections/oam/">https://3d.nih.gov/collections/oam/</a> or visit the <a href="https://www.innovation.va.gov/oam/home.html">Office of Advanced Manufacturing</a> website for deeper insights into their impactful work. </p>
                                
                                <p>For VA providers, you may also contact the assistive technology team at <a href="mailto:14HIL_OAM_AssistiveTechnologies@va.gov">14HIL_OAM_AssistiveTechnologies@va.gov</a> for more information.</p>    
                            </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>