<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Radiotherapy Bolus | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Our Team | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>Radiotherapy Bolus</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">Radiotherapy Bolus</h1>
                                <div class="text-bold text-primary">FY24 Q2</div>
                                <div class="font-body-lg margin-top-2">Enhancing Precision in Cancer Care: VHA Radiotherapy Bolus</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>In a revolutionary stride toward personalized cancer treatment, Veterans Health Administration (VHA) introduces the VHA Radiotherapy Bolus, a 3D-printed device designed to optimize radiation therapy outcomes for Veteran patients. Developed with precision in mind, this patient-specific bolus, crafted by radiotherapy clinicians based on individual CT scans, aims to redefine the landscape of cancer care for Veterans across the Nation.</p>
							
                                <p>Traditional boluses often resemble sheets of paper, requiring providers to engage in a delicate procedure during application. The challenge lies in achieving a flat, bubble-free surface against the Veteran patient's skin. Providers must ensure no air pockets disrupt the uniformity of the bolus, a process that can be time-consuming and prone to imperfections.</p>
    
                                <p>Enter the VHA Radiotherapy Personalized Bolus — a game-changer in radiation therapy. Developed by the Office of Advanced Manufacturing (OAM) in collaboration with VHA Radiology Oncology staff, each unique bolus is crafted through state-of-the-art 3D-printing technology based on patient-specific CT scans. The Radiotherapy Bolus transcends the limitations of its traditional counterparts; unlike the flat and generic sheets, the personalized bolus seamlessly conforms to the unique contours of the patient's body.</p>
                                
                                <p>The result? An organic fit that not only simplifies the VA provider's job but also ensures optimal performance during radiation therapy. With a personalized design that eliminates the struggle against air pockets, the VHA Radiotherapy Bolus stands out as a user-friendly and highly effective solution. The impact of this product is anticipated to improve dose distribution, reduce clinic setup time, enhance reproducibility of bolus placement, and ultimately improve patient comfort.</p>
                                
                                <p>The VHA Radiotherapy Bolus addresses the pressing need arising from the PACT Act, which expanded cancer care for Gulf War and post-9/11 Veterans. As the list of conditions assumed to be caused by toxic exposure during service grows, so does the demand for personalized cancer treatments within VA.</p>
                                
                                <p>After obtaining FDA 510(k) clearance, the VHA Radiotherapy Bolus was released in April 2023 and has been strategically made available across the VHA network. The product is currently available to eight VAMCs that include Cleveland, Dayton, Oklahoma City, Milwaukee, Minneapolis, Richmond, Seattle, and Tampa Bay.  If a facility that is not officially onboarded wants to place an order, OAM can collaborate with VA providers to securely transfer files and ensure requirements are fulfilled safely.  VA providers interested in the radiotherapy bolus can contact OAM at <a href="mailto:14HIL_OAM_RadiotherapyBolus@va.gov">14HIL_OAM_RadiotherapyBolus@va.gov</a> for more information.</p>    
                            </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>