<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Thermal Fuse Cover | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Our Team | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>Thermal Fuse Cover</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">Thermal Fuse Cover</h1>
                                <div class="text-bold text-primary">FY24 Q2</div>
                                <div class="font-body-lg margin-top-2">Innovative Thermal Fuse Cover Enhances Safety for Veterans Using Oxygen</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>The thermal fuse cover, a new product developed by the Office of Advanced Manufacturing (OAM), is a 3D-printed device that plays a pivotal role in addressing a critical safety concern faced by Veterans using home oxygen—the risk of fires caused by oxygen concentrators. Dr. Garrett Grindle, the Associate Director for Engineering at the Human Engineering Research Laboratory (HERL) and the site lead for OAM at VA Pittsburgh Healthcare System (VAPHS), discussed this innovative product in greater detail.</p>

                                <p>“Many Veterans rely on supplementary oxygen—like oxygen tanks—to improve their quality of life and to survive. However, those using in-home oxygen are susceptible to fires because of how well oxygen, when combined with other elements, can propel fires,” Dr. Grindle stated as he described his team’s initial concerns surrounding oxygen device safety.</p> 
                                
                                <p>Fire-related incidents involving devices such as oxygen tanks have resulted in catastrophic consequences, including burned homes, injuries, and even fatalities, according to the VA National Center for Patient Safety (NCPS). Recognizing the seriousness of this issue, Doug Hilliard, Veterans Integrated Services Network (VISN) 4's prosthetics chief, spearheaded efforts to find a solution.</p>
                                
                                <p>The standard practice involves inserting a thermal fuse in a patient's home oxygen tubing. This fuse, designed to melt when heated, blocks the flow of oxygen in the tubing during a fire, reducing the risk of fire acceleration. However, these fuses were occasionally left off the system tubing, especially during transitions between home oxygen concentrators and portable bottles, which are designed for on-the-go use. Doug Hilliard, Dr. Grindle, and their team aimed to create a solution that reinforces the correct placement of thermal fuses, thereby minimizing the risk of fires due to accidental removal.</p>
                                
                                <p>Dr. Grindle continued, “We developed the thermal fuse cover to secure the correct placement of thermal fuses, preventing accidental removal. Through multiple iterations and collaboration with the Tech Transfer Office, the device evolved into a 3D-printed cover that protects and stabilizes the thermal fuse’s position.” Rigorous testing, including controlled burns, demonstrated the effectiveness of the cover without compromising the functional thermal fuse.</p>
                                
                                <p>A pilot test conducted at the Erie VA Medical Center showed 100% compliance with the use of the thermal fuse cover, indicating its ease of installation and acceptance among Veterans. The cover is now being rolled out in VISN 4, with plans to extend its use to other VA regions.</p>
                                
                                <p>The innovation shows promising potential, as there are approximately 800 Veterans in high-risk categories benefiting from the fuse cover in VISN 4 alone. Ongoing monitoring and collaboration with VA providers will help OAM gather more data, ensuring continuous improvement and safer environments for Veterans using supplemental oxygen devices nationwide.  </p>
                                
                                <p>The collaborative efforts behind this innovation exemplify VA's commitment to improving patient safety and advancing health care solutions through research and development. VA providers interested in the thermal fuse cover can contact OAM at <a href="mailto:VHA14HIL_OAMNPO@VA.gov">VHA14HIL_OAMNPO@VA.gov</a> for more information.</p>    
                            </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>