<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Veteran Prevails with Assistive Technology | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="News and Events | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>Veteran Prevails with Assistive Technology</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">Veteran Prevails with Assistive Technology</h1>
                                <div class="text-bold text-primary">FY24 Q2</div>
                                <div class="font-body-lg margin-top-2">Perseverance Paved: Veteran Jeff Larsen Overcomes Injury with Assistive Technology</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>This is the remarkable story of how the Office of Advanced Manufacturing (OAM), Richmond VA Medical Center (VAMC), facilitated transformative change by testing limitations and empowering Larsen to rediscover his passions and embrace a fulfilling life again.</p>
							
                                <p>Former active-duty service member Jeff Larsen's life took a significant turn on August 7th, 2020. While working on a farm, an accident resulted in his immediate transport to the local hospital. </p>
                                
                                <p>Larsen underwent emergency surgery and was subsequently diagnosed with a complete at C4 and C5 spinal injury, rendering him tetraplegic. </p>
                                
                                <p>"I experienced partial functionality in my arms, core muscles, and shoulder. However, I gained more mobility due to a tendon nerve transfer [surgery]," explained Larsen. </p>
                                
                                <p><em>Starting the Journey to Recovery</em></p>
                                
                                <p>By December 2020, Larsen’s accident left his left arm completely immobile. Larsen worked with several health care clinics in the early stages of his recovery journey. He worked with Steps for Recovery in Cary, NC, to create custom 3D-printed braces. These braces were designed to provide him with more function while showering and fulfilling activities of daily living. </p>
                                
                                <p>Although much improved, Larsen still had some issues.</p>
                                
                                <p>"I wanted the braces to fit properly and minimize friction to prevent blisters and other skin-related problems. It was important to me that the braces were durable and long-lasting and that they be able to assist me with the tasks I already had some capacity for, such as eating," stated Larsen. </p>
                                
                                <p><em>Enhanced Mobility with (OAM) Richmond VA Medical Center (VAMC)</em></p>
                                
                                <p>Larsen reached out to OAM’s Richmond lab and connected with Seth Hills, a dedicated clinical rehabilitation engineer, to discuss other available resources. Hills proposed using VA-specific 3D-printed assistive technology to enhance Larsen's already constructed braces for improved mobility. This new approach enabled Larsen to carry out daily activities with greater ease. </p>
                                
                                <p>"Our team wanted to...introduce a bracket for a better fit. We added a Velcro strap to secure the forearm and hand in place, preventing the braces from wearing out too quickly. The use of 3D printing technology allowed for custom designs for both the right and left hand, ensuring a perfect fit that alleviated the risk of pressure sores," stated Hills. </p>
                                
                                <p><em>Returning to Recreational Activities</em></p>
                                
                                <p>Although much improved and thankful for the enhancements, Larsen wanted to return to the recreational activities he loved but was limited by the equipment he had available. </p>
                                
                                <p>"It was tough," Larsen said, "I tried getting back into shooting, but it was impossible with the available equipment. It was too difficult to pull that hard with just one hand. My finger would bend, and I couldn't keep it straight enough to pull the trigger." </p>
                                
                                <p>Driven by Larsen's desire to re-engage in his beloved recreational activities, Hills and his team refined the device to address Larsen’s specific challenges, and ultimately, he was able to return to his shooting hobbies. </p>
                                
                                <p>This accomplishment brought joy to Larsen and his loved ones, who were proud to see him return to his passion. "My friends and family were super happy for me. They thought it was great that I could utilize a gun again, and they were proud to see me get back to shooting," he said. </p>
                                
                                <p>Despite a challenging recovery journey filled with adjustments, Larsen's determination and unwavering support of Hills and his team proved invaluable in achieving newfound possibilities. </p>
                                
                                <p><em>Larsen’s Message of Resilience and Determination</em></p>
                                
                                <p>Larsen's story highlights the determination and perseverance needed to navigate recovery with assistive technology. It also showcases the importance of a supportive health care system and innovative solutions. </p>
                                
                                <p>"I think it's important for people who haven't been through this process yet to know that there are going to be good and bad days as you navigate the system, but there are also going to be some great days, too! When I was looking for ways to change my situation, the [OAM team at the] Richmond VAMC was able to help me with everything. They made it possible for me to get back into doing the things I love!" said Larsen. </p>							
    
                                <p>Please visit the <a href="https://www.innovation.va.gov/oam/home.html">Office of Advanced Manufacturing</a> website for more information on 3D-printed assistive technology.</p>
                            </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>