.date {
    visibility: hidden;
    display: none;
}

.jplist-selected {
    background-color: #005ea2;
    border-color: transparent;
    color: #fff !important;
}

.jplist-selected:hover {
    color: #fff !important;
    text-decoration: none;
    border: 0;
}

.grid-image {
    margin-top: 48px;
    margin-left: -12px;
    margin-right: -12px;

    &:after {
        display: block;
        content: '';
        clear: both;
    }

    .grid-col {
        float: left;
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        display: block;

        &.grid-col--1 {
            .grid-item:nth-child(even){
                min-height: 200px;
            }
        }
        
        &.grid-col--2 {
            .grid-item:nth-child(even){
                min-height: 250px;
            }
        }
        
        &.grid-col--3 {
            .grid-item:nth-child(even){
                min-height: 175px;
            }
        }


        @media ( min-width: 768px ) {

            width: 35%; 

            &.grid-col--2 { 
                width: 65%; 
            }
        
        }

        @media ( min-width: 1200px ) {
            width: 28%; 

            &.grid-col--2, &.grid-col--3  { 
                width: 36%; 
            }
            
        }
    }
    
    .grid-item {
        min-height: 330px;
        border-radius: .5rem;
        overflow: hidden;
        margin-bottom: 24px;
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }
}