<section id="submission-form" class="submission-form">
    <div class="grid-container">
        <div class="grid-row">
            <div class="tablet-lg:grid-col-6">
                <h2 class="text-primary">Ready to contribute to cutting-edge healthcare solutions for Veterans?</h2>
                <p>Share your innovative product ideas with us by completing the Product Idea Form. Your insights could be the next breakthrough in patient care and supply chain resilience.</p>
                <form action="https://formsubmit.co/Stacey.Askew@va.gov" method="POST">

                    <fieldset class="usa-fieldset">
                
                      <!-- Full Name -->
                      <label class="usa-label" for="full-name">Full name</label>
                      <div class="usa-hint" id="fnHint">
                        For example, Prof. Madeline Martinez Hernandez
                      </div>
                      <input
                        class="usa-input"
                        id="full-name"
                        name="full-name"
                      />

                      <!-- Phone Number -->
                      <label class="usa-label" for="phone-number">Phone Number</label>
                      <input
                        class="usa-input"
                        id="phone-number"
                        name="phone-number"
                        type="tel"
                        placeholder="ex. 555-555-XXXX"
                      />

                      <!-- E-mail Address -->
                      <label class="usa-label" for="email">E-mail Address</label>
                      <input
                        class="usa-input"
                        id="email"
                        name="email"
                        type="email"
                        autocapitalize="off"
                        autocorrect="off"
                        required
                      />

                      <!--  Product Idea -->
                      <label class="usa-label" for="product-idea">Product Idea</label>
                      <textarea
                        class="usa-textarea usa-textarea--xl"
                        id="product-idea"
                        name="product-idea"
                        width="500"
                        height="300">
                      </textarea>

                      <!--  Intent of Use -->
                      <label class="usa-label" for="intent-use">Intent of Use</label>
                      <textarea
                        class="usa-textarea usa-textarea--xl"
                        id="intent-use"
                        name="intent-use"
                        width="500"
                        height="300">
                      </textarea>

                      <!--  Submit Form  -->
                      <input class="usa-button margin-top-3" type="submit" value="Submit" />
                       
                      <!--  Redirect to Thank You -->
                      <input type="hidden" name="_next" value="http://innovation.bgsandbox.com/oam/views/products/product-thank-you.html">

                      <input type="hidden" name="_subject" value="HIL OAM - Product Idea Submission">

                    </fieldset>

                </form>
            </div>
            <div class="tablet-lg:grid-col-6">
                
            </div>            
        </div>
    </div>
</section>