<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>News and Events | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Our Team | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub.html" %}
      
        <main>
            {% include "_includes/news-and-events/page-title.html" %}
            {% include "_includes/news-and-events/newsletter-articles-dynamic.html" %}
            {% include "_includes/news-and-events/articles.html" %}
        </main>

        {% include "footer-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../assets/uswds/js/uswds.min.js"></script>
    <script src="../assets/js/vendors/lazy/jquery.lazy.min.js"></script>
    <script src="../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../assets/js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
    <script src="../assets/js/news-functions.js"></script>
    <script src="../assets/js/news-json-render-dynamic.js"></script>
    <!-- TODO - Remove this script once finalized dynamic implementation -->
    <!-- <script src="../assets/js/news-json-render.js"></script> -->
    <script src="../assets/js/jplist.min.js"></script>
    <script>jplist.init();</script>

</body>

</html>