<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Position Spotlight: Additive Manufacturing Dental Technician | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Our Team | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>Position Spotlight: Additive Manufacturing Dental Technician</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">Position Spotlight: Additive Manufacturing Dental Technician</h1>
                                <div class="text-bold text-primary">FY24 Q3</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>Meet Archie Jugarap, a Navy Veteran turned health systems specialist for VHA's Office of Advanced Manufacturing (OAM), whose work in dental technology helps revolutionize dental care for Veterans. Archie's extensive experience in the dental field allows him to aid dental clinics in crafting dental prosthetics for Veterans and integrating digital dentistry technology for streamlined workflows.</p>
							
                                <p>Archie's journey into dental technology began during his time in the Navy, where he transitioned from ship preservation duties to assisting in the dental field. Through progressive training and hands-on experience, Archie became a skilled dental lab technician, acquiring training at Sheppard Air Force Base in Texas. Archie left the military after eight years  of service and joined the VA health care system, where he initially worked at the McClelland VA Medical Center in Sacramento before eventually relocating to VA Puget Sound Health Care System in Seattle.</p>
                                
                                <p>There, Archie found himself leading VA's transition from analog dentistry&ndash;traditional dentistry practices that include manual, hand waxing  techniques&ndash;to digital dentistry workflows, which use computer-aided designs to develop crowns and bridges, dentures, nightguards, and dental implant guides.  While dental technicians typically rely on manual fabrication techniques, Archie's expertise lies in leveraging digital tools and 3D-printing technology to enhance efficiency and precision in dental prosthetic production.</p>
                                
                                <p>Recognizing the potential of additive manufacturing to revolutionize patient care, Archie spearheaded the integration of digital dentistry workflows in VA Puget Sound Health Care System's dental clinics. Collaborating with various stakeholders, Archie streamlined processes and reduced turnaround times for dental prosthetics, ensuring Veterans' timely access to high-quality care.</p>
                                
                                <p>Archie's dedication to spreading awareness and adoption of digital dentistry extends beyond Seattle. After recognizing the workforce challenges in the dental tech field, Archie, with OAM's help, actively engaged with dental lab technicians across VA, sharing insights and resources to facilitate their transition to digital workflows. He collaborates with VA providers to assess patient needs and design custom dental prosthetics using advanced software. Through outreach efforts, Archie is actively paving the way for a new generation of dental technicians to embrace innovative technology and enhance patient care.</p>
                                
                                <p>The journey from analog to digital dentistry hasn't been without its challenges. Archie, along with VA biomed and OIT colleagues , navigated security protocols, technical hurdles, and workforce transitions to establish a streamlined digital workflow. Yet, the most rewarding aspect of his job remains unchanged: witnessing the transformative impact of dental prosthetics on Veterans' lives.</p>
                                
                                <p>"In blending artistry with technology, we're not just creating dental prosthetics; we're transforming smiles and restoring confidence in Veterans. The positive impact on Veteran health care is undeniable, and it's incredibly fulfilling to be part of that journey," Archie said.</p>
                                
                                <p>Archie continues to champion digital dentistry and 3D printing across VA so more Veterans and their providers can benefit. He embodies resilience, innovation, and a steadfast commitment to improving health care delivery for those who have served the Nation.</p>
                            </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>