<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>How OAM Ensures Safe and Quality Products for Veterans | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="News and Events | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>How OAM Ensures Safe and Quality Products for Veterans</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">How OAM Ensures Safe and Quality Products for Veterans</h1>
                                <div class="text-bold text-primary">FY24 Q3</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>In the frantic early days of the COVID-19 pandemic, VA's advanced manufacturing capabilities were recruited to supplement medical supply chain shortages. The goal was mass production of nasal swabs; to provide consistent safe products the biomedical engineers in charge simultaneously developed standard operating procedures and the bones of a Quality Management System.</p>
                                
                                <p>As the pandemic continued, VA expanded its 3D-printing outputs to parts for face shields, masks, and PAPR Hoods. The standard operating procedures expanded along with them, eventually forming a Quality Management System (QMS) overseen by the Office of Advanced Manufacturing's (OAM) parent office, the Office of Discovery, Education and Affiliate Networks (DEAN).</p>
                                
                                <p>"At its core, the DEAN QMS aims to uphold the fundamental principle that all medical devices must be safe and effective," said Gregory Voss, Acting Director of Quality Management and Quality Systems for OAM. "Through meticulous processes encompassing risk assessment, consideration of patient benefits, and strict adherence to manufacturing protocols, the QMS ensures consistent quality and performance of OAM's 3D-printed products."</p>
                                
                                <p>One of the primary objectives of the DEAN QMS is to establish quality control guidelines for all manufacturing processes within VA that meet the regulatory requirements of the Food and Drug Administration. This involves oversight of materials, equipment, and personnel training to ensure uniformity and traceability for products used by Veteran patients. In the event of device malfunctions or adverse events, the DEAN QMS facilitates prompt feedback collection and investigation, enabling swift resolution and, although unlikely, product recall.</p>
                                
                                <p>Similarly, if OAM creates a product for a Veteran, the processes documented within the DEAN QMS allows for exact replication of that product if it breaks or wears down over time. This means continuity of care for the Veteran and increased dependability for OAM.</p>
                                
                                <p>"At VA, engineers and clinicians work hand in hand to develop and refine 3D-printed medical devices, prioritizing both efficacy and patient safety," said Stacey Askew, Associate Director for OAM. "Through close collaboration and interdisciplinary teamwork, VA strives to deliver innovative solutions that meet the unique needs of Veterans while adhering to the highest standards of quality and reliability."</p>
                                
                                <p>If your VA facility possesses 3D-printing capabilities, please reach out to <a href="mailto:VHA14HIL_OAMNPO@va.gov">VHA14HIL_OAMNPO@va.gov</a> for more information regarding DEAN QMS.</p>
                            </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>