<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>3D-printed Naloxone Trainer Unveiled: A Milestone in Opioid Overdose Response | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Our Team | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>3D-printed Naloxone Trainer Unveiled: A Milestone in Opioid Overdose Response</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">3D-printed Naloxone Trainer Unveiled: A Milestone in Opioid Overdose Response</h1>
                                <div class="text-bold text-primary">FY24 Q3</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>The landscape of opioid overdose response has seen a significant development with the introduction of the innovative Naloxone Trainer, a pioneering tool designed to empower individuals to respond effectively to opioid emergencies. Developed through one of the Office of Advanced Manufacturing's (OAM) sites, VISN-12 Great Lakes VA Health Care System, the Naloxone Trainer represents a transformative approach to opioid overdose education and response.</p>
							
                                <p>Initially conceived by a dedicated VA nurse, Diane Mosey, the Naloxone Trainer emerged from a simple yet powerful idea: create a sustainable and accessible method to educate providers and Veterans on how to respond to opioid overdose events. Naloxone is a fast-acting medication used to reverse the effects of an opioid overdose by binding to opioid receptors, restoring normal breathing and preventing further opioid effects. It's crucial for anyone showing signs of overdose or suspected overdose. Faced with the pressing need to enhance naloxone outreach efforts, Mosey sought assistance from OAM's biomedical engineering team who would help turn Mosey's makeshift trainer into a more permanent solution to help revolutionize opioid overdose response across VA.</p>
                                
                                <p>"What started as a modest prototype made from plywood and wristbands has evolved into a groundbreaking innovation," remarked Dr. Katie Schultz, OAM Site Lead at VISN12 &ndash; VA Great Lakes Health Care System. "Our goal was simple: to equip individuals with the knowledge and confidence to respond effectively to opioid emergencies."</p>
                                
                                <p>The Naloxone Trainer's design is so effective because it is user-friendly. It features a lifelike 3D-printed nose and a simulated naloxone nasal spray device that enables users to practice administering naloxone. Through step-by-step instructions and hands-on training, individuals can familiarize themselves with the life-saving process of administering naloxone, potentially reducing hesitation and saving lives in critical situations.</p>
                                
                                <p>"The beauty of the trainer lies in its simplicity," continued Dr. Schultz. "By providing individuals with the opportunity to practice administering naloxone, we aim to empower them to act decisively during opioid emergencies."</p>
                                
                                <p>The impact of the Naloxone Trainer extends beyond individual training sessions. Recognizing its potential to save lives on a larger scale, OAM is working with VA medical centers (VAMCs) nationwide to distribute the trainer to be in waiting rooms and other training kits. This strategic initiative aims to make naloxone education more accessible and integrated into existing training programs, ultimately enhancing the readiness of VA health care providers and the general public to respond to opioid emergencies.</p>
                                
                                <p>Mosey expressed how genuinely thrilled she is that her creation can help providers and Veterans on a larger scale. In crisis, responders need to be able to move quickly and confidently, and this trainer helps users build that confidence, she said.</p>
                                
                                <p>Dr. Schultz shared, "We were excited to unveil the Naloxone Trainer at the Resuscitation Symposium in March, and we are looking forward to ushering in a new era of opioid overdose response. By making Naloxone education more accessible and engaging, we can empower individuals to act and potentially save lives."</p>
                                
                                <p>The Naloxone Trainer is currently available in VAMCs in VISN 12 and, more recently, Orlando, FL, thanks to collaboration with the Simulation Learning, Evaluation, Assessment, and Research Network (SimLEARN). Moving forward, OAM remains committed to advancing innovations that improve health care outcomes and enhance patient safety. With the Naloxone Trainer poised to make a significant impact on opioid overdose response efforts, OAM looks forward to collaborating with VA health care providers and community partners to promote its widespread adoption.</p>
                                
                                <p>For more information about the Naloxone Trainer and how to bring it to your VA health care facility, please contact <a href="mailto:VHA14HIL_OAMNPO@va.gov">VHA14HIL_OAMNPO@va.gov</a>.</p>
                                
                                <p class="display-flex flex-justify-center"><a href="https://leaf.va.gov/VISN12/695/3d_printing/" class="usa-button bg-cyan-50 text-white" style="border:none !important">3D Printing Portal | Clement J Zablocki VAMC</a></p>
						     </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>