<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Revolutionizing Surgical Planning: A Dive into 3D Printing in Medicine | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Our Team | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>Revolutionizing Surgical Planning: A Dive into 3D Printing in Medicine</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">Revolutionizing Surgical Planning: A Dive into 3D Printing in Medicine</h1>
                                <div class="text-bold text-primary">FY24 Q3</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>In VA health care, continuous innovation is crucial for better Veteran care. The Office of Advanced Manufacturing (OAM) is at the forefront of innovation at VHA thanks to its game-changing 3D-printing capabilities. Dr. Jessie M. Jean-Claude, Chief Vascular Surgeon for VA Northeast Ohio Healthcare System (VANOHS) in Cleveland, and Mr. Bill Corcuera, Site Lead for OAM VANOHCS lab, lead groundbreaking advancements in 3D-printed pre-procedural medical models. </p>

                                <p>3D-printed anatomical medical models help provide a tangible guide for decision-making during surgery. Mr. Corcuera explained, "Our product is essentially an anatomically correct 3D-printed model that is patient-specific. The goal is to assist VA surgeons and other medical providers in planning their surgical procedures or interventions."</p>
                                
                                <p>Within the intricacies of surgical planning, where every incision must be deliberate and every movement strategic, the ability to visualize patient-specific anatomy with unparalleled accuracy is invaluable. 3D-printed pre-procedural medical models, derived from CT and MRI scans, provide surgeons with a comprehensive understanding of the Veteran's anatomy before the first scalpel is wielded. By using the pre-procedural model to meticulously plan each step of the procedure, surgeons can anticipate challenges, optimize approaches, and minimize risks. Moreover, these pre-procedural models foster interdisciplinary collaboration, enabling seamless communication among VA health care professionals and leading to superior surgical outcomes.</p>
                                
                                <p>Dr. Jean-Claude recalled the transformative experience of utilizing a 3D-printed pre-procedural model for the first time, highlighting its role in guiding a surgical procedure for a Veteran patient with an aneurysm. Choosing the best approach for the necessary procedure&ndash;open technique or endovascular graft&ndash;was challenging because she had to rely solely on the Veteran's CT scan.</p>
                                
                                <p>Dr. Jean-Claude reached out to Mr. Corcuera to 3D print the pre-procedural medical model. The 3D-printed pre-procedural model provided the answers needed to move forward in the surgical plan. She explained, "When he walked into my office with the 3D model, it was a game-changer. The model provided a clear answer, allowing us to proceed with the less invasive endovascular graft, benefiting the Veteran patient with a quicker recovery and fewer complications."</p>
                                
                                <p>The core of VA health care is the Veteran experience, and in this aspect, 3D-printed pre-procedural medical models play a significant role. These models offer more than just tangible benefits like reducing risks during surgery and saving time in the operating room. They also give Veteran patients a strong sense of confidence as they prepare for their procedures. Seeing a visual representation of their planned treatment helps Veterans feel more assured when giving consent for surgery. Dr. Jean-Claude described, "Having a visual aid, such as putting a 3D model into a Veteran's hand, simplifies what can be a complex and anxiety-inducing situation."</p>
                                
                                <p>It also helps their caregivers and family members better understand what to expect during the treatment process. Informed consent isn't just about signing paperwork; it's about building a shared understanding that fosters trust and collaboration between Veterans and VA providers. Equipped with these 3D models, surgeons enter the operating room feeling more confident with a clearer surgical plan. </p>
                                
                                <p>The impact of 3D-printed pre-procedural medical models also extends far beyond the confines of the operating room; it extends into the realm of medical education and training. VANOHS is creating not only Veteran patient-specific models but also educational ones that can be used indefinitely for training purposes. These pre-procedural models create a risk-free environment for learning by providing students and other clinicians   with lifelike replicas for practice and skill development. Through repeated simulation and hands-on experience, future health care professionals refine their skills, ensuring competence and confidence as they transition into clinical practice.</p>
                                
                                <p>Looking ahead, OAM aims to further streamline the process and expand access to 3D-printed pre-procedural medical models across VA medical centers (VAMCs) with surgical programs. The goal is to continue refining the technology, making it more accessible, and ensuring its integration as a standard practice in surgical planning across the VA health care system.</p>
                                
                                <p>For VA providers interested in requesting a pre-procedural medical model, please contact <a href="mailto:VHA14HIL_OAMNPO@va.gov">VHA14HIL_OAMNPO@va.gov</a>.</p>
                            </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>