<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Transforming Smiles: The Impact of Innovative Denture Solutions for Veterans | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="News and Events | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub-sub.html" %}
      
        <main>
            <section id="page-title" class="page-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>Transforming Smiles: The Impact of Innovative Denture Solutions for Veterans</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                            <div class="article-title margin-top-6">
                                <h1 class="margin-0 gradient-text">Transforming Smiles: The Impact of Innovative Denture Solutions for Veterans</h1>
                                <div class="text-bold text-primary">FY24 Q3</div>
                            </div>
                            <div class="article-body padding-top-5">
                                <p>In VA health care, the Office of Advanced Manufacturing (OAM) plays a pivotal role in leveraging cutting-edge technologies to enhance Veterans' lives. One remarkable story that stands out is that of a 76-year-old Vietnam-era Veteran who endured facial trauma during his service, resulting in significant challenges with his smile.</p>
							
                                <p>Despite limited flexibility in the lower part of his face due to scars and major jaw surgery, this resilient Veteran had been making do with a mismatched pair of dentures for the past three decades. However, thanks to the innovative approach facilitated by OAM, his journey took a transformative turn in just two months.</p>
                                
                                <p>A significant change in his circumstances sparked the Veteran's decision to seek treatment with OAM. Having recently gained dental eligibility, the Veteran found himself new to VA dental services. Despite enduring facial trauma and living with mismatched dentures for 30 years, he had not been aware of the innovative solutions available through OAM until now.</p>
                                
                                <p>The OAM team at VA Puget Sound Healthcare System in Seattle, Washington utilized advanced 3D printing and digital dentistry to create custom dentures tailored to fit the unique shape of the Veteran's mouth. The results were impressive: the dentures provided exceptional stability, ensuring they stayed firmly in place during everyday activities like eating and speaking. Additionally, the Veteran experienced improved comfort and functionality thanks to the precise alignment of the dentures.</p>
                                
                                <p>The impact of this denture replacement extended far beyond mere dental restoration; it touched the very essence of the Veteran's well-being. Th  e emotion in the room was tangible, and it even brought the dental assistant to tears, showing just how deeply impactful the transformation was.</p>
                                
                                <p>Overwhelmed with gratitude and joy, he expressed his profound satisfaction with the outcome. He stated, "VA  Puget Sound did an excellent job. I would give them a 5-star rating. I would send any of my Veteran buddies in need of teeth to this team. The dentures are awesome&mdash;feel great, look great!"</p>
                                
                                <p>This touching experience demonstrates what OAM aims to do&ndash;give personalized, safe, and equitable care to Veterans by improving VA's manufacturing abilities. It highlights how VA staff are dedicated to giving kind, patient-focused care, even in the face of complex challenges.</p>
                                
                                <p>The story of this Veteran's smile serves as an important reminder of the great impact that innovation and compassion can have on the lives of those we serve across the enterprise. OAM will continue to uphold the sacred obligation to honor and care for the Nation's Veterans, one smile at a time.</p>
                                
                                <p>VA providers interested in 3D-printing dental devices, please contact <a href="mailto:VHA14HIL_OAMNPO@va.gov">VHA14HIL_OAMNPO@va.gov</a> for more information.</p>
                            </div>
                        </div>																	
                    </div>
                </div>
            </section>

        </main>

        {% include "footer-sub-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/vendors/parallax-scroll/parallax-scroll.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>