<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Our Team | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Our Team | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/who-we-are/our-story/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub.html" %}
      
        <main>
          {% include "_includes/products/thank-you/page-title.html" %}
          {% include "_includes/products/thank-you/content.html" %}
        </main>

        {% include "footer-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../assets/js/vendors/lazy/jquery.lazy.min.js"></script>
    <script src="../../assets/js/functions.js"></script>

</body>

</html>