<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta name="keywords" content="VHA Office of Advanced Manufacturing, OAM">
  <title>Makeup Brush Holder | Office of Advanced Manufacturing</title>

  <meta property="og:title" content="Makeup Brush Holder | Office of Advanced Manufacturing">
  <meta property="og:url" content="https://innovation.va.gov/oam/news-and-events/">
  <meta property="og:description" content="Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.bgsandbox.com/oam/assets/img/og-image.webp">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub-sub.html" %}
      
        <main>

            <section id="page-title" class="page-title article-title">
                <div class="grid-container">
                    <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs,,">
                        <ol class="usa-breadcrumb__list">
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/" class="usa-breadcrumb__link"><span>Home</span></a>
                            </li>
                            <li class="usa-breadcrumb__list-item">
                                <a href="/oam/news-and-events/" class="usa-breadcrumb__link"><span>News and Events</span></a>
                            </li>                            
                            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                <span>Makeup Brush Holder</span>
                            </li>                            
                        </ol>
                    </nav>      
                </div>      
            </section>

            <section id="article-content" class="padding-y-5">
                <div class="grid-container">
                    <div class="grid-row grid-gap" >
                        <div class="grid-col-12 grid-offset-0 tablet-lg:grid-col-8 tablet-lg:grid-offset-2">
                    <div class="grid-row grid-gap flex-align-start">
                        <div class="grid-col-12">
                            <h1>Creating Tools for Confidence and Independence</h1>
                            <h2 class="text-normal">“People with disabilities can always keep up, just as anybody else can.  You just find a way to adapt.”</h2>
                            <h2 class="text-right text-normal">– Brenda Guevara, Navy Veteran</h2>
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-center padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6 text-center">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/brenda-guevara-navy-veteran.webp" alt="Brenda Guevara Navy Verteran with a makeup brush holder" class="img-fluid radius-lg">
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6">
                            <h3 class="text-primary">Meet Navy Veteran, Brenda Guevara.</h3>
                            <p>Just like many other young women, Ms. Guevara feels that putting on makeup is an important part of self-care and expression. It makes her feel good about herself. But her disability made it difficult for her to hold her brushes steady and apply her makeup on her own.</p>
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-center padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6 order-2 tablet-lg:order-1">
                            <p>The makeup brush holder project began as a concept at the DOD. Originally conceptualized on a small scale, it was then expanded by OAM engineers with collaborative input from Ms. Guevara. The work began with a digital computer design that was  sent to a 3D-printer. </p>
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6 text-center order-1 tablet-lg:order-2">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/oam-3d-printing-design.webp" alt="A computer screen with the makeup brush 3d render design" class="img-fluid radius-lg">
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-center padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6 text-center">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/oam-3d-printing-process.webp" alt="Makeup brush holder being 3d printed with polymer poweder" class="img-fluid radius-lg">
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6">
                            <p>Each Assistive Technology (AT) device that is 3D-printed is printed with the material best suited for its use. In this case, it was PA 12 nylon printed on a selective laser sintering (SLS) machine. SLS is an additive manufacturing (AM) process that uses a high-power laser to bind thin layers of polymer powder.</p>
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-center padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6 order-2 tablet-lg:order-1">
                            <p>Slices are layered and the process repeated to create the parts. Numerous parts can be printed at the same time. The result is a big brick of powder. The items are then broken out of the powder and separated. The leftover powder can be reclaimed and mixed with new powder to be used again.</p>
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6 text-center order-1 tablet-lg:order-2">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/oam-person-3d-printing.webp" alt="A person placing two 3d printed makeup brush holder pieces together" class="img-fluid radius-lg">
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-center padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6  text-center">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/oam-makeup-brush-holder-3d-design.webp" alt="A person showing the 3d printed makeup brush holder by the 3d design on a computer" class="img-fluid radius-lg">
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6">
                            <p>The make up holder's round carousel design allows the patient to store more brushes and have better access. Rather than using an off-the-shelf Lazy Susan-style base, which would spin too fast and raise material costs, a slew bearing was designed. This solution uses cylinders instead of ball bearings and moves the carousel more slowly, which is easier for the Veteran to manage.</p>
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-center padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6 order-2 tablet-lg:order-1">
                            <p>Kelly Saleguero, an OAM clinical rehab engineer, worked closely with Ms. Guevara on getting this make up brush holder just right. She says, “My favorite part about my job is getting to interact with Veterans, having that patient care experience, and being able to see my designs come to life.”</p>
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6 text-center order-1 tablet-lg:order-2">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/kelly-saleguero.webp" alt="Kelly Saleguero - OAM clinical rehab engineer" class="img-fluid radius-lg">
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-center padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6  text-center">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/oam-holding-3d-printing.webp" alt="Person holding 3d printed pieces for the makeup brush holder" class="img-fluid radius-lg">
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6">
                            <p>The final part of the solution is the AT device that holds the brushes themselves. The Makeup Brush Holder keeps the brushes sitting upright in the stand and helps the patient grasp the brush and keep it steady for use.</p>
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-start padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6 margin-bottom-4 tablet-lg:margin-bottom-0 text-center">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/makeup-brush-holder-3d-printed.webp" alt="Initial prototype of the makeup brush holder" class="img-fluid radius-lg">
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6 text-center">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/oam-new-generation-makeup-brush-holder.webp" alt="The final makeup brush holder product holding makeup brushes" class="img-fluid radius-lg">
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-start padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12">
                           <p>Developing a 3D-printed solution is an iterative process. It takes different steps and prototypes to get to the end. The version on the left represents an early prototype. On the right is the current version. We can see that Ms. Guevara has filled it with her brushes, ready to help her start her day.</p>
                           <p>If you’re a clinician and your patient has an unmet need that can be fulfilled by an Assistive Technology device, OAM can make the device for you—you don’t need to do it yourself! Please contact VHA14HIL_OAMNPO@va.gov to start today.</p>
                           <p>If you’re a Veteran who could benefit from  Assistive Technology, please consult with your clinician to find out how OAM can help you find a solution.</p>
                        </div>
                    </div>
                    <div class="grid-row grid-gap flex-align-start padding-y-0 tablet-lg:padding-y-5">
                        <div class="grid-col-12 tablet-lg:grid-col-6 order-2 tablet-lg:order-1">
                            <h4 class="text-normal line-height-mono-4">“My experience was great because I felt like my opinion and my feelings and thoughts really mattered. Everything I said was always taken into consideration.”</h4>
                            <h4 class="line-height-mono-4 text-right">- Brenda Guevara</h4>
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-5 text-center order-1 tablet-lg:order-2">
                            <img src="../../assets/img/news-and-events/newsletters/fy24-q4/brenda-guevara-brush-holder.webp" alt="Brenda Guevara sitting next to a makeup brush holder" class="img-fluid radius-lg">
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </section>
        </main>

        {% include "footer-sub-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../../assets/js/functions.js"></script>

</body>

</html>