<section id="newsletter-article" class="newsletter-article padding-y-5 tablet-lg:padding-y-8 bg-primary-lightest">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <h2 class="text-primary margin-top-0">OAM Newsletter Articles</h2>
            </div>
        </div>
        <!-- Article Template from json file -->
        <span id="no-data"></span>	
        <div class="grid-row grid-gap" id="template-output"></div>
    </div>
</section>
<!-- END Product Template from json file -->