@use "uswds-core" as *;

.page-title {

    &__side-title {

        @include at-media-max(tablet-lg) {
            position: relative;
            transform: rotate(0deg);
            left: .5rem;
        }

        position: absolute;
        top: 50%;
        left: 2rem;
        transform-origin: top left;
        transform: rotate(-90deg) translateX(-50%);
        padding: 0 !important;
        border-bottom: 1px solid #ddd;
        text-align: center;
        transition: .3s ease;
        font-weight: bold;
    }

}