<section id="3d-printing-fellowship" class="3d-printing-fellowship padding-y-5 tablet-lg:padding-y-8">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-start">
            <div class="grid-col-12 tablet-lg:grid-col-6 margin-bottom-4 tablet-lg:margin-bottom-0">
                <h2 class="text-primary">3D Printing Fellowship</h2>
                <p>Veteran Health Administration (VHA) acknowledges the significance of clinical applications for 3D printing (3DP) and the importance of educating providers about it. The field of point-of-care manufacturing enabled by 3D printing has rapidly grown over the last two decades, with more than 200 hospitals in the US currently using this technology. In 2021, VHA introduced the Surgical Innovation 3DP Fellowship with the intention of establishing a special training program to address the need to educate surgeons about 3DP.</p>
                <p>The fellowship focuses on essential topics, such as 3D printer operations, specific software for creating 3D images, and surgical planning using 3D models. Surgeons also learn how to design educational materials about 3DP and how to efficiently create 3DP prototypes. The first-of-its-kind fellowship has since expanded to include clinical champions in surgery and radiology, now known as the 3DP Fellowship program.</p>
                <p>Before the establishment of the 3DP Fellowship, formal training within the health care industry to educate surgeons about this technology was lacking, thereby limiting the full potential of 3DP and increasing risks to patients. This fellowship exemplifies VHA's commitment to structured education, enhancing patient safety, and maximizing the benefits of 3DP technology.</p>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-4 widescreen:grid-offset-2 text-center">
                <div><img src="../assets/img/fellowships/michael-amendola.webp" alt="Dr. Michael Amendola, Chief of Vascular Surgery at Richmond VA." class="img-fluid radius-lg" /></div>
                <div class="margin-top-1 padding-5 bg-gradient-primary text-white radius-lg font-family-serif font-serif-2xs">
                    "The OAM 3D Printing Fellowship program is a unique learning opportunity not only to the surgeons who are trained within it but to the larger VA system using advance manufacturing."
                    <br /><br />-Dr. Michael Amendola, Chief of Vascular Surgery at Richmond VA.
                </div>
            </div>
        </div>
    </div>
</section>