<section id="fellowship-alumni" class="fellowship-alumni padding-y-5 tablet-lg:padding-y-8">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-top">
            <div class="grid-col-12 tablet-lg:grid-col-2 tablet-lg:grid-offset-2 widescreen:grid-col-2 widescreen:grid-offset-2 tablet-lg:margin-bottom-0">
                <h2 class="tablet:margin-y-0 desktop:margin-y-0 widescreen:margin-y-0 text-primary">Alumni</h2>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-3 widescreen:grid-col-3">
                <div class="margin-top-1">
                    <h4 class="text-primary margin-y-0 padding-y-0">2022-2023</h4>
                    <h3 class="margin-top-0 padding-y-0">3D Printing Surgical Fellow</h3>
                    <p>
                        Dr. Diana Otoya
                    </p>
                </div>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-3 widescreen:grid-col-3">
                <div class="margin-top-1">
                    <h4 class="text-primary margin-y-0 padding-y-0">2021-2022</h4>
                    <h3 class="margin-top-0 padding-y-0">3D Printing Surgical Fellows</h3>
                    <p>
                        Dr. Diana Otoya<br />
                        Dr. Sally Boyd<br />
                        Dr. Lucas Keller-Biehl
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>