<section id="current-fellows" class="current-fellows padding-y-5 tablet-lg:padding-y-8 bg-current-fellows">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <h2 class="text-primary">Current 3D Printing Fellows</h2>
            </div>
        </div>
        <!-- row 1 -->
        <div class="grid-row flex-justify-center padding-bottom-5">
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-4 widescreen:grid-col-3 widescreen:grid-offset-1 mobile:margin-bottom-4">
                <img src="../assets/img/fellowships/alyssa-habermann.webp" class="img-fluid radius-lg" alt="OAM 3DP Fellow, Alyssa Habermann" />
            </div>
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-7 tablet-lg:margin-left-3">
                <h3 class="margin-top-0 margin-bottom-1">Dr. Alyssa Habermann</h3>
                <h4 class="margin-top-0 margin-bottom-2">Surgical Champion 3DP Fellow '23-'24</h4>
                <p class="margin-top-0 margin-bottom-2">Dr. Alyssa Habermann is a general surgery resident at Virginia Commonwealth University (VCU) in Richmond, VA. She grew up in White Plains, NY, and obtained her undergraduate degree from the University of Virginia in 2016, where she studied Spanish and environmental sciences. She later received her M.D. from Duke University in 2021. After completing a two-year general surgery residency at VCU, Alyssa was accepted to the VHA 3D Printing Surgical Fellowship and plans to fulfill a two-year commitment. Her research is focused on the use of 3D printing in pre-surgical planning and educational models, especially as it pertains to colorectal surgery.</p>
                <p class="padding-x-5 font-family-serif font-serif-2xs">"One of the most valuable parts of this fellowship has been learning from and working closely with engineers. It has allowed me to see anatomy and surgery from a completely different vantage point, which will undoubtedly help shape my career. This multidisciplinary approach has enabled us to care for Veterans in unique and impactful ways."
                <br /><br />
                - Dr. Alyssa Habermann</p>
            </div>
        </div>
        <!-- end row 1 -->
        <!-- row 2 -->
        <div class="grid-row flex-justify-center fellow-reverse-order-m padding-bottom-5">
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-6 widescreen:grid-offset-1 tablet-lg:margin-right-3">
                <h3 class="margin-top-0 margin-bottom-1">Dr. Graham Gardner</h3>
                <h4 class="margin-top-0 margin-bottom-2">Surgical Champion 3DP Fellow '23-'24</h4>
                <p class="margin-top-0 margin-bottom-2">Dr. Graham Gardner received his Bachelor of Science in Biology from The College of William and Mary in Williamsburg, Virginia, in 2015. He completed his Doctor of Medicine degree in 2021 at Virginia Commonwealth University School of Medicine in Richmond, Virginia. He is a general surgery resident at the Virginia Commonwealth University Health System. He is now completing a VHA 3D Printing Surgical Fellowship and will continue as a second-year fellow in the program. His professional interests include cardiothoracic surgery, structural heart disease, medical education, simulation, and 3D printing.</p>
                <p class="padding-x-5 font-family-serif font-serif-2xs">"3D printing allows for the creation of patient- and pathology-specific models which, in a variety of ways, improve the quality of care we, as surgeons, provide for our patients. This fellowship has given me an invaluable set of skills that will allow me to be the best physician, surgeon, and educator that I can be."
                <br /><br />
                - Dr. Graham Gardner</p>
            </div>
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-4 widescreen:grid-col-3 mobile:margin-bottom-4">
                <img src="../assets/img/fellowships/graham-gardner.webp" class="img-fluid radius-lg" alt="OAM 3DP Fellow, Graham Gardner" />
            </div>
        </div>
        <!-- end row 2 -->
        <!-- row 3 -->
        <div class="grid-row flex-justify-center">
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-4 widescreen:grid-col-3 widescreen:grid-offset-1 mobile:margin-bottom-4">
                <img src="../assets/img/fellowships/yu-hui-huang.webp" class="img-fluid radius-lg" alt="OAM 3DP Fellow, Yu-Hui Huang" />
            </div>
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-7 tablet-lg:margin-left-3">
                <h3 class="margin-top-0 margin-bottom-1">Dr. Yu-Hui Huang</h3>
                <h4 class="margin-top-0 margin-bottom-2">Radiology Champion 3DP Remote Fellow '24</h4>
                <p class="margin-top-0 margin-bottom-2">Dr. Yu-Hui Huang has formal training in biomedical visualization and clinical anaplastology. Currently, she serves as the Chief Radiology Resident specializing in nuclear medicine, where she offers clinical 3D printing services for both human and veterinary patients. Dr. Huang will complete a neuroradiology fellowship at the University of Minnesota in Minneapolis. In addition to her clinical pursuits, she serves as an adjunct faculty at the University of Illinois at Chicago Graduate Biomedical Visualization Program, where she teaches 3D printing with data segmentation for medicine as well as pathophysiology for biomedical visualization.</p>
                <p>Her pursuits are fueled by a commitment to enhancing patient care and outcomes through the innovative integration of art, medicine, and technology, specifically advanced medical imaging and 3D technologies.</p>
                <p class="padding-x-5 font-family-serif font-serif-2xs">"I am incredibly excited to be part of the VHA 3D Printing Fellowship. I look forward to collaborating within a multidisciplinary team to use advanced manufacturing solutions to improve care for Veterans."
                <br /><br />
                - Dr. Yu-Hui Huang</p>
            </div>
        </div>
        <!-- end row 3 -->
    </div>
</section>