<section id="empower" class="empower margin-bottom-10 z-top">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-justify-center flex-align-center radius-lg padding-3">
            <div class="grid-col-12 tablet-lg:grid-col-6 z-top">
                <h2 class="text-primary">Empower your Expertise with 3D Printing</h2>
                <p>Ready to equip yourself with cutting-edge skills in 3D printing technology? The VHA 3DP Surgical Fellowship offers comprehensive training to surgeons who want to use 3D Printing to enhance patient care.</p>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6">
                <div class="margin-top-1">
                    <p>
                        <a href="#" title="Apply for an OAM Fellowship"></a><button type="button" class="usa-button">Apply for a Fellowship!</button></p>
                    </p>
                </div>
            </div>
            <div class="position-absolute pin-top z-auto unselectable" data-parallax='{"x": 100, "smoothness": 10}'>
                <img src="../assets/img/decore/triangle-fellow-empower.svg" class="display-block img-fluid overflow-x-hidden" role="presentation" />
            </div>
        </div>
    </div>
</section>