<section id="hero" class="hero padding-0 tablet-lg:padding-y-8">
    <div class="grid-container position-relative">
        <div class="hero__image-container">
            <div class="hero__image-content padding-y-4 tablet-lg:padding-8">
                <h1 class="font-body-4xl margin-0 gradient-text"><span class="display-block">We Make</span>What We Cannot Buy</h1>
                <h2 class="h3 margin-top-2">Advancing personalized, safe, and equitable care.</h2>
            </div>
            <div class="hero__image radius-lg" role="img" aria-label="Close up image of a 3d printer creating a medical device to help a veteran."></div>    
        </div>
        <div class="position-absolute bottom-neg-3 left-neg-1 z-bottom unselectable" data-parallax='{"y": 40, "smoothness": 10}'>
            <img src="assets/img/decore/design-element-1.png" width="729" height="404" class="display-block img-fluid" alt="" />
        </div>        
    </div>
</section>