<section id="news-and-events" class="news-and-events padding-y-5 tablet-lg:padding-y-8 z-top">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-3 desktop:grid-col-2">
                <h2 class="text-primary margin-top-0">News & Events</h2>
                <a href="news-and-events/" class="usa-button display-none tablet-lg:display-inline-block">View More</a>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-9 desktop:grid-col-10">
                <div class="grid-row grid-gap">
                    <div class="grid-col-12 tablet-lg:grid-col-6 news-and-events__item-column margin-bottom-4">
                        <div class="news-and-events__item">
                            <span class="news-and-events__item-date">FY2024 Q3</span><br />
                            <h3 class="news-and-events__item-title margin-top-1 text-primary">
                                <a href="news-and-events/fy24-q3/pre-procedural-medical-models/" class="link text-primary news-and-events__item-link">Revolutionizing Surgical Planning: A Dive into 3D Printing in Medicine</a>
                            </h3>
                            <p class="news-and-events__item-description">
                                The Office of Advanced Manufacturing (OAM) is at the forefront of innovation at VHA thanks to its game-changing 3D-printing capabilities.
                            </p>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet-lg:grid-col-6 news-and-events__item-column margin-bottom-4">
                        <div class="news-and-events__item">
                            <span class="news-and-events__item-date">FY2024 Q3</span><br />
                            <h3 class="news-and-events__item-title margin-top-1 text-primary">
                                <a href="news-and-events/fy24-q3/additive-manufacturing-dental-technician/" class="link text-primary news-and-events__item-link">Position Spotlight: Additive Manufacturing Dental Technician</a>
                            </h3>
                            <p class="news-and-events__item-description">
                                Archie Jugarap, a Navy Veteran turned health systems specialist at VHA's Office of Advanced Manufacturing, plays a key role in revolutionizing dental care for Veterans by pioneering the integration of digital dentistry and 3D printing technology.
                            </p>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet-lg:grid-col-6 news-and-events__item-column margin-bottom-4">
                        <div class="news-and-events__item">
                            <span class="news-and-events__item-date">FY2024 Q3</span><br />
                            <h3 class="news-and-events__item-title margin-top-1 text-primary">
                                <a href="news-and-events/fy24-q3/transforming-smiles-impact-of-innovative-denture-solutions-for-veterans/" class="link text-primary news-and-events__item-link">Transforming Smiles: The Impact of Innovative Denture Solutions for Veterans</a>
                            </h3>
                            <p class="news-and-events__item-description">
                                The Office of Advanced Manufacturing (OAM) at VA Puget Sound Healthcare System dramatically improved the life of a 76-year-old Vietnam-era Veteran with facial trauma by using advanced 3D printing and digital dentistry to create custom dentures.
                            </p>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet-lg:grid-col-6 news-and-events__item-column margin-bottom-4">
                        <div class="news-and-events__item">
                            <span class="news-and-events__item-date">FY2024 Q3</span><br />
                            <h3 class="news-and-events__item-title margin-top-1 text-primary">
                                <a href="news-and-events/fy24-q3/naloxone-trainer/" class="link text-primary news-and-events__item-link">3D-printed Naloxone Trainer Unveiled: A Milestone in Opioid Overdose Response</a>
                            </h3>
                            <p class="news-and-events__item-description">
                                an innovative and user-friendly tool that provides hands-on training with a 3D-printed nose and simulated naloxone nasal spray.
                            </p>
                        </div>
                    </div>                                    
                </div>
            </div>
            <a href="news-and-events/" class="usa-button usa-button--vha display-inline-block tablet-lg:display-none">View More</a>
        </div>
</section>