<section id="news-and-events" class="news-and-events padding-y-5 tablet-lg:padding-y-8">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-3 desktop:grid-col-2">
                <h2 class="text-primary margin-top-0">News & Events</h2>
                <a href="/oam/news-and-events/" class="usa-button display-none tablet-lg:display-inline-block">View More</a>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-9 desktop:grid-col-10">
                <div class="grid-row grid-gap">
                    <div class="grid-col-12 tablet-lg:grid-col-6 news-and-events__item-column margin-bottom-4">
                        <div class="news-and-events__item">
                            <span class="news-and-events__item-date">October 3, 2023</span><br />
                            <h3 class="news-and-events__item-title margin-top-1 text-primary">
                                <a href="#" class="link text-primary news-and-events__item-link">New 3D printed advanced surgical tool: More efficient care</a>
                            </h3>
                            <p class="news-and-events__item-description">
                                A new advanced surgical planning tool developed by VHA Office of Advanced Manufacturing received FDA clearance for use in VA facilities, quickening pre-surgery process.
                            </p>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet-lg:grid-col-6 news-and-events__item-column margin-bottom-4">
                        <div class="news-and-events__item">
                            <span class="news-and-events__item-date">March 3, 2023</span><br />
                            <h3 class="news-and-events__item-title margin-top-1 text-primary">
                                <a href="#" class="link text-primary news-and-events__item-link">Behind the Knife Podast: 3DP innovations in surgery</a>
                            </h3>
                            <p class="news-and-events__item-description">
                                In this episode of the “Innovations in Surgery” series, Behind the Knife’s Dr. Dan Scheese, sits down with Dr. Michael Amendola and Dr. Diana Otoya of Central Virginia VA Healthcare System to discuss 3D Printing and its role in medicine and surgery.
                            </p>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet-lg:grid-col-6 news-and-events__item-column margin-bottom-4">
                        <div class="news-and-events__item">
                            <span class="news-and-events__item-date">November 17, 2022</span><br />
                            <h3 class="news-and-events__item-title margin-top-1 text-primary">
                                <a href="#" class="link text-primary news-and-events__item-link">VA, FDA collaborate to accelerate medical device innovation</a>
                            </h3>
                            <p class="news-and-events__item-description">
                                Department of Veterans Affairs and Food and Drug Administration announced a collaboration that aims to accelerate the time it takes for medical innovations to reach Veterans and non-Veterans alike.
                            </p>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet-lg:grid-col-6 news-and-events__item-column margin-bottom-4">
                        <div class="news-and-events__item">
                            <span class="news-and-events__item-date">August 25, 2022</span><br />
                            <h3 class="news-and-events__item-title margin-top-1 text-primary">
                                <a href="#" class="link text-primary news-and-events__item-link">VA Cleared to use 3DP Tech for Surgery</a>
                            </h3>
                            <p class="news-and-events__item-description">
                                On August 11, FDA cleared the OroMaxilloFacial Advanced Surgical Planning System, which will assist surgeons with pre-surgical planning by using virtual and 3D printed physical models to guide procedure and treatment options for patients.
                            </p>
                        </div>
                    </div>                                    
                </div>
            </div>
            <a href="/oam/news-and-events/" class="usa-button usa-button--vha display-inline-block tablet-lg:display-none">View More</a>
        </div>
</section>