<section id="products-overview" class="products-overview padding-top-5 tablet-lg:padding-top-8 padding-bottom-3 tablet-lg:padding-bottom-5 bg-pattern-light">
    <div class="grid-container position-relative">
        <div class="grid-row grid-gap products-overview__row">
            <div class="usa-card products-overview__item grid-col-12 tablet-lg:grid-col-4 desktop-lg:grid-col-3 order-1">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="assets/img/home/product-thermal-fuse-cover.jpg" class="img-fluid" alt="Thermal Fuse Cover on display with a blue background" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary">Thermal Fuse Cover</h3>
                        <p>The 3D printed thermal fuse cover answered a need raised by the National Center for Patient Safety for a home oxygen delivery system safety device to prevent burns and fires.</p>
                    </div>
                </div>
            </div>
            <div class="usa-card products-overview__item grid-col-12 tablet-lg:grid-col-4 desktop-lg:grid-col-3 order-2">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="assets/img/home/product-radiotherapy-bolus.jpg" class="img-fluid" alt="Radiotherapy Bolus on display with a blue background" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary">Radiotherapy Bolus</h3>
                        <p>The Radiotherapy Bolus is a device that is placed on the skin of a patient as a radiotherapy accessory intended to help control the radiation dose received by the patient. </p>
                    </div>
                </div>
            </div>
            <div class="usa-card products-overview__item grid-col-12 tablet-lg:grid-col-4 desktop-lg:grid-col-3 order-3">
                <div class="usa-card__container shadow-3">
                    <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                        <div class="usa-card__img">
                            <img src="assets/img/home/product-assistive-technology.jpg" class="img-fluid" alt="Assistive Technology on display with a blue background" />
                        </div>
                    </div>
                    <div class="usa-card__body products-overview__item-body padding-top-2">
                        <h3 class="text-primary">Assistive Technology</h3>
                        <p>VHA teams up with NIH to offer the Assistive Technology (AT) Catalog, featuring collaborative patient-therapist-engineer designed devices tailored to individual needs, empowering goal achievement.</p>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-12 desktop-lg:grid-col-3 margin-bottom-5 desktop-lg:margin-bottom-0 mobile:order-0 desktop-lg:order-4">
                <h2 class="text-primary margin-top-0 margin-bottom-2">OAM Products</h2>
                <p>At the VHA Office of Advanced Manufacturing, we redefine healthcare through revolutionary products crafted with precision and innovation.</p>
                <a href="products/" class="usa-button">View More OAM Products</a>
            </div>
        </div>
        <div class="position-absolute top-neg-10 right-neg-1 z-bottom unselectable" data-parallax='{"y": -50, "smoothness": 10}'>
            <img src="assets/img/decore/design-element-2.png" width="729" height="404" class="display-block img-fluid" alt="" />
        </div>
    </div>
</section>