<section id="products-overview" class="products-overview padding-top-5 tablet-lg:padding-top-8 padding-bottom-3 tablet-lg:padding-bottom-5 bg-pattern-light">
    <div class="grid-container position-relative">
        <div class="grid-row grid-gap products-overview__row">
            <div id="template-output" class="grid-col-12 tablet-lg:grid-col-12 desktop-lg:grid-col-9 display-flex flex-wrap"></div>

            <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    fetch('https://data.bgsandbox.com/oam-sharepoint-products/product-data.JSON')
                        .then(response => response.json())
                        .then(data => {
                            var output = document.getElementById('template-output');
                            var template = '';

                            data.slice(0, 3).forEach(item => {
                                // Find the first 630 characters without cutting off words
                                var description = item['Brief Description'];
                                if (description.length > 630) {
                                    description = description.substring(0, 630);
                                    // Find the last space after the first 630 characters
                                    var lastSpaceIndex = description.lastIndexOf(' ');
                                    // Don't cut off a word, remove any trailing spaces
                                    description = description.substring(0, lastSpaceIndex).trim() + '...';
                                }
                                template += `
                                <div class="usa-card products-overview__item grid-col-12 tablet-lg:grid-col-4 desktop-lg:grid-col-4">
                                    <div class="usa-card__container shadow-3">
                                        <div class="usa-card__media usa-card__media--exdent products-overview__item-header">
                                            <div class="usa-card__img">
                                                <a href="${item['SP Details Page']}">
                                                    <img src="${item['Image URL']}" alt="${item.Title}" class="img-fluid radius-lg" loading="lazy" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="usa-card__body products-overview__item-body padding-top-2">
                                            <a href="${item['SP Details Page']}" class="text-no-underline">
                                                <h3 class="text-primary">${item.Title}</h3>
                                            </a>
                                            <p>${description}</p>
                                        </div>
                                    </div>
                                </div>
                                `;
                            });
                            output.innerHTML = template;
                        })
                        .catch(error => console.error('Error:', error));
                });
            </script>
            <!-- END Product Template from json file -->

            <div class="grid-col-12 tablet-lg:grid-col-12 desktop-lg:grid-col-3 margin-bottom-5 desktop-lg:margin-bottom-0 mobile:order-0 desktop-lg:order-4">
                <h2 class="text-primary margin-top-0 margin-bottom-2">OAM Products</h2>
                <p>At the VHA Office of Advanced Manufacturing, we redefine healthcare through revolutionary products crafted with precision and innovation.</p>

                <div class="grid-container margin-top-205 margin-bottom-205 padding-0">
                    <div class="usa-alert usa-alert--warning usa-alert--slim">
                      <div class="usa-alert__body padding-right-0">
                          <p class="usa-alert__text">VA Network Access is necessary to view the products below.</p>
                        </div>
                     </div>
                </div>

                <a href="products/" class="usa-button">View More OAM Products</a>
            </div>

            
        </div>
        <div class="position-absolute top-neg-10 right-neg-1 z-bottom unselectable" data-parallax='{"y": -50, "smoothness": 10}'>
            <img src="assets/img/decore/design-element-2.png" width="729" height="404" class="display-block img-fluid" alt="" />
        </div>
    </div>
</section>
