<section id="site-location-map" class="site-location-map padding-y-5 tablet-lg:padding-y-8 bg-gradient-primary z-top position-relative">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center text-white">
                <h2 class="margin-top-0">3D Printing OAM Sites</h2>
            </div>
        </div>
        <div class="grid-row grid-gap flex-align-center">
            <div class="tablet:grid-col-12 desktop:grid-col-8">
                <div id="mapsvg"></div>
            </div>
            <div class="desktop:grid-col-4">
                <div class="usa-card">
                    <div class="usa-card__container shadow-3">
                        <div class="usa-card__body">
                            <div id="mapsvg-menu-markers"></div>
                        </div>
                        <div class="usa-card__footer">
                            <a href="/oam/who-we-are/our-team" class="usa-button">View Our Team</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 right-0 z-bottom unselectable" data-parallax='{"x": -200, "smoothness": 10}'>
            <img src="assets/img/decore/triangle-1.svg" width="863" height="113" class="display-block img-fluid" alt="" />
        </div>
        <div class="position-absolute top-0 left-0 z-bottom unselectable" data-parallax='{"x": 200, "smoothness": 10}'>
            <img src="assets/img/decore/triangle-2.svg" width="1056" height="68" class="display-block img-fluid" alt="" />
        </div>        
    </div>
</section>


<link href="assets/css/map-svg/mapsvg.css" rel="stylesheet">
<link href="assets/css/map-svg/nanoscroller.css" rel="stylesheet">
<script src="assets/js/vendors/map-svg/jquery.mousewheel.min.js"></script>
<script src="assets/js/vendors/map-svg/jquery.nanoscroller.min.js"></script>
<script src="assets/js/vendors/map-svg/mapsvg.min.js"></script>
<script src="assets/js/vendors/map-svg/mapsvg.functions.js"></script>