<section id="video" class="video padding-bottom-7 padding-top-5 tablet-lg:padding-y-8">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-6">
                <div class="wrapper bg-primary-lighter bg-pattern-light radius-lg">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 padding-top-3 text-center">
                            <h2 class="text-primary h3">How 3D Printing is Transforming Health Care</h2>
                        </div>
                    </div>
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                            <div class="video__wrapper padding-x-2 tablet-lg:padding-0">
                                <div class="video__container radius-lg margin-bottom-neg-5">
                                    <iframe class="video__element radius-lg" src="https://www.youtube.com/embed/i94rwr1Febo?si=dBZVfckp6gcqLpro" title="YouTube video player 1" frameborder="0" referrerpolicy="no-referrer" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6">
                <div class="wrapper bg-primary-lighter bg-pattern-light radius-lg">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 padding-top-3 text-center">
                            <h2 class="text-primary h3">Enhancing Care Through 3D Printing</h2>
                        </div>
                    </div>
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                            <div class="video__wrapper padding-x-2 tablet-lg:padding-0">
                                <div class="video__container radius-lg margin-bottom-neg-5">
                                    <iframe class="video__element radius-lg" src="https://www.youtube-nocookie.com/embed/F5C1OYwcS7g?si=MiEIrb4gjS8Ltzfq" title="YouTube video player 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>