<section class="oam- bg-gradient-primary usa-dark-background text-white z-top">
    <div class="grid-container position-relative">
        <div class="grid-row grid-gap flex-align-center padding-y-5 tablet-lg:padding-y-8">
            <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1 margin-bottom-3 tablet-lg:margin-bottom-0">
                <a href="/oam/news-and-events/makeup-brush-holder/">
                    <img src="assets/img/home/visual-story--MakeupHolder.webp" class="img-fluid radius-lg" alt="Young woman smiling and sitting in a wheelchair" />
                </a>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-5">
                <label class="h5 text-bold text-oam-blue--light">OAM News Highlight</label>
                <h2 class="margin-top-1">Creating Tools for Confidence and Independence</h2>
                <p>Just like many other young women, Ms. Guevara feels that putting on makeup is an important part of self-care and expression.</p>
                <a href="/oam/news-and-events/makeup-brush-holder/" class="usa-button usa-button--outline usa-button--inverse">Read more about Ms. Guevara</a>
            </div>
        </div>
    </div>
</section>