<section id="what-is-oam" class="what-is-oam padding-y-8">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12 tablet-lg:grid-col-6">
                <h2 class="text-primary">What is OAM?</h2>
                <p>Welcome to VHA Office of Advanced Manufacturing (OAM), where we lead the way in harnessing cutting-edge technologies such as 3D printing for health care applications. OAM provides an unprecedented and individualized approach in providing high quality, safe and effective innovative care to Veterans.</p>
                <p>At OAM, we empower frontline clinicians to tackle clinical challenges through innovative product-based solutions while bolstering supply chain resiliency with in-house manufacturing capabilities. We're dedicated to building both digital and physical infrastructure to bring medical device innovation and manufacturing back to VA, ensuring that Veterans receive first-class products and service innovation.</p>
                <p>Notable accomplishments to date include the establishment of an FDA-compliant Quality Management System, in-house production of patient-matched medical devices, and strategic collaborations with government agencies, academia, and industry partners to expedite the journey from promising product to clinical market.</p>
                <a href="/oam/who-we-are/our-story/" class="usa-button usa-button--vha">Explore Our Journey</a>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1">
                <img src="assets/img/home/what-is-oam.jpg" alt="A man holding a 3d printed model of cervical vertebrae" class="img-fluid radius-lg" />
            </div>
        </div>
    </div>
</section>